services:
  backend:
    build: ./backend
    ports:
      - 8080:8080
    container_name: backend
    restart: unless-stopped
    environment:
      - REDIS_HOST=redis
      - POSTGRES_HOST=db
      - REQUEST_ORIGIN=*
    depends_on:
      - redis
      - db

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

  db:
    image: postgres:alpine
    container_name: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - 5432:5432
    volumes:
      - database:/var/lib/postgresql/data
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - 5050:80
    container_name: frontend
    depends_on:
      - backend

volumes:
  database:
  redis-data:
